

<head>
  <link rel="stylesheet" href="styles/homestylesheet.css" type="text/css">
</head>





<body>

<!-- citation: boostrap Navigation Bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">The Troll Under the Bridge Games</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="about">About us</a></li>
      <li><a href="spicymodernbrews">Spicy Modern Brews</a></li>
      <li><a href="mtgdb">(Modern) Magic The Gathering Database</a></li>
    </ul>
  </div>
</nav>




<!-- citation: boostrap Carousel w3schools -->
<div id='myCarousel' class='carousel slide' data-ride='carousel'>

<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
</ol>

<!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="images/chess.jpg" alt="chess" width="460" height="350">
    </div>

    <div class="item">
      <img src="images/magic.jpg" alt="magic" width="460" height="350">
    </div>

    <div class="item">
      <img src="images/monopoly.jpg" alt="monopoly" width="460" height="370">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<br />


<!-- citation: boostrap examples getbootstrap.com -->

<div class="container links">
  <div class="row">
    <div class="col-lg-4">
      <!-- citation: free image from pexels.com -->
      <img class="rounded-circle" src="images/pexels-photo-656195.jpeg"; alt="seattle" width="140" height="140">
        <h2>Our story!</h2>
        <p>
          A short blurb about us and what we're about!
        </p>
        <p>
          <a class="btn btn-secondary" href="about" role="button">More about us! »</a>
        </p>
    </div>
    <div class="col-lg-4">
      <!-- citation:  image is for linked website mox boarding house -->
      <img class="rounded-circle" src="images/mox_logo.png"; alt="moxlogo" width="140" height="140">
        <h2>Favorite local store!</h2>
        <p>
          <i>Check out our favorite local game store! Perfect place to play a game of settlers and grab a cold brew!</i>
        </p>
        <p>
          <a class="btn btn-secondary" href="https://www.moxboardinghouse.com/" role="button">Visit Mox's website! »</a>
        </p>
    </div>
    <div class="col-lg-4">
      <!-- citation: bfree image from pexels.com -->
      <img class="rounded-circle" src="images/pepperoni-red-sharp-cut-60029.jpeg"; alt="hot pepper" width="140" height="140">
        <h2>Spicy Brews!</h2>
        <p>
          Check out the latest Magic the Gathering&trade deck for the modern format that we've been playing around with!
        </p>
        <p>
          <a class="btn btn-secondary" href="spicymodernbrews" role="button">Check out latest custom modern decklists! »</a>
        </p>
    </div>

  </div>
</div>







</body>




